$-main-dark-heavyer-blue: #0F1C47;
$-main-dark-heavy-blue: #3C4272;
$-main-dark-medium-blue: #696BA047;
$-main-dark-medium-light-blue: #9798D0;
$-main-dark-light-blue: #C8C8FF;
$-main-dark-ultra-light-blue: #F4F4FF;
$-main-dark-heavyer-gray: #25221A;
$-main-dark-heavy-gray: #272727;
$-main-dark-medium-gray: #767587;
$-main-dark-medium-light-gray: #AAAABC;
$-main-dark-light-gray: #CECECE;
$-main-dark-ultra-light-gray: #EDEEFF;

$-true-white: #FFF;